#vmview {
  display: all;
}

#vmDisplay, #btns {
  text-align: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#vmlist > div.row > div {
  padding-bottom: 10px;
}

#vmlist div.col-md-3 > div.card:hover {
  cursor: pointer;
  border-color: #0879fa;
}

.vmtile > img {
  margin-bottom: 2px;
}

.chat-table, .username-table {
  border: 1px solid #575757;
  overflow-y: auto;
}

.chat-table {
  height: 30vh;
}

.username-table {
  max-height: 30vh;
}

.username-table > table > thead {
  position: sticky;
  top: 0;
}

#turnstatus, #voteResetPanel {
  text-align: center;
}

.focused {
  box-shadow: 0 0 9px #2dd5ffbf;
}

.waiting {
  box-shadow: 0 0 9px #f2ff3fbf;
}

#staffbtns, #staffbtns > button {
  display: block;
}

#qemuMonitorOutput {
  height: 180px;
}

#xssCheckboxContainer, #forceVotePanel {
  display: allow;
}

tr.user-admin > td, .chat-username-admin, .username-admin {
  color: red !important;
}

tr.user-moderator > td, .chat-username-moderator, .username-moderator {
  color: #0f0 !important;
}

tr.user-turn > td {
  color: #000;
  --bs-table-color: #000;
  --bs-table-bg-state: #cfe2ff !important;
  background-color: #cfe2ff !important;
}

tr.user-turn:hover, tr.user-turn > td:hover {
  --bs-table-bg-state: #bacbe6 !important;
  background-color: #bacbe6 !important;
}

tr.user-waiting > td {
  color: #000;
  --bs-table-color: #000;
  --bs-table-bg-state: #fff3cd !important;
  background-color: #fff3cd !important;
}

.tr.user-waiting:hover, tr.user-waiting > td:hover {
  --bs-table-bg-state: #ece1be !important;
  background-color: #ece1be !important;
}

.user-current {
  font-style: italic;
}

.osk-container {
  border-radius: 5px;
  justify-content: center;
  width: 1024px;
  margin: 0 auto 10px;
  display: flex;
}

.simple-keyboard.hg-theme-default {
  display: inline-block;
}

.osk-main.simple-keyboard {
  background: none;
  width: 640px;
  min-width: 640px;
}

.osk-main.simple-keyboard .hg-row:first-child {
  margin-bottom: 8.51px;
}

.osk-arrows.simple-keyboard {
  background: none;
  align-self: flex-end;
}

.simple-keyboard .hg-button.selectedButton {
  color: #fff;
  background: #05194687;
}

.simple-keyboard .hg-button.emptySpace {
  pointer-events: none;
  box-shadow: none;
  background: none;
  border: none;
}

.osk-arrows .hg-row {
  justify-content: center;
}

.osk-arrows .hg-button {
  width: 50px;
  flex-grow: 0 !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.controlArrows {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.osk-control.simple-keyboard {
  background: none;
}

.osk-control.simple-keyboard .hg-row:first-child {
  margin-bottom: 8.51px;
}

.osk-control .hg-button {
  width: 50px;
  flex-grow: 0 !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.numPad {
  align-items: flex-end;
  display: flex;
}

.osk-numpad.simple-keyboard {
  background: none;
  width: 160px;
}

.osk-numpad.simple-keyboard .hg-button {
  justify-content: center;
  align-items: center;
  width: 50px;
  display: flex;
}

.osk-numpadEnd.simple-keyboard {
  background: none;
  width: 50px;
  margin: 0;
  padding: 5px 5px 5px 0;
}

.osk-numpadEnd.simple-keyboard .hg-button {
  justify-content: center;
  align-items: center;
  display: flex;
}

.osk-numpadEnd .hg-button.hg-standardBtn.hg-button-plus, .osk-numpadEnd.simple-keyboard .hg-button.hg-button-enter {
  height: 85px;
}

.simple-keyboard.hg-theme-default .hg-button.hg-selectedButton {
  color: #fff;
  background: #05194687;
}

.hg-button.hg-functionBtn.hg-button-space {
  width: 350px;
}

.simple-keyboard.cvmDark .hg-button {
  color: #fff;
  background: #00000080;
  border-bottom: none;
}

.simple-keyboard.cvmDark .hg-button:active {
  color: #fff;
  background: #1c4995;
}

#root .simple-keyboard.cvmDark + .simple-keyboard-preview {
  background: #1c4995;
}

.simple-keyboard.cvmDisabled .hg-button {
  pointer-events: none;
  color: #fff;
  background: gray;
  border-bottom: none;
}

#badPasswordAlert {
  display: none;
}

div[data-cvm-node="vm0b0t"] img {
  filter: blur(40px) !important;
}

/*!
 * 
 *   simple-keyboard v3.7.55
 *   https://github.com/hodgef/simple-keyboard
 *
 *   Copyright (c) Francisco Hodge (https://github.com/hodgef) and project contributors.
 *
 *   This source code is licensed under the MIT license found in the
 *   LICENSE file in the root directory of this source tree.
 *
 */
.hg-theme-default {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  background-color: #ececec;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  overflow: hidden;
}

.hg-theme-default .hg-button span {
  pointer-events: none;
}

.hg-theme-default button.hg-button {
  font-size: inherit;
  border-width: 0;
  outline: 0;
}

.hg-theme-default .hg-button {
  flex-grow: 1;
  display: inline-block;
}

.hg-theme-default .hg-row {
  display: flex;
}

.hg-theme-default .hg-row:not(:last-child) {
  margin-bottom: 5px;
}

.hg-theme-default .hg-row .hg-button-container, .hg-theme-default .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}

.hg-theme-default .hg-row > div:last-child {
  margin-right: 0;
}

.hg-theme-default .hg-row .hg-button-container {
  display: flex;
}

.hg-theme-default .hg-button {
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: #0000;
  background: #fff;
  border-bottom: 1px solid #b5b5b5;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 5px;
  display: flex;
  box-shadow: 0 0 3px -1px #0000004d;
}

.hg-theme-default .hg-button.hg-standardBtn {
  width: 20px;
}

.hg-theme-default .hg-button.hg-activeButton {
  background: #efefef;
}

.hg-theme-default.hg-layout-numeric .hg-button {
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 60px;
  display: flex;
}

.hg-theme-default .hg-button.hg-button-numpadadd, .hg-theme-default .hg-button.hg-button-numpadenter {
  height: 85px;
}

.hg-theme-default .hg-button.hg-button-numpad0 {
  width: 105px;
}

.hg-theme-default .hg-button.hg-button-com {
  max-width: 85px;
}

.hg-theme-default .hg-button.hg-standardBtn.hg-button-at {
  max-width: 45px;
}

.hg-theme-default .hg-button.hg-selectedButton {
  color: #fff;
  background: #05194687;
}

.hg-theme-default .hg-button.hg-standardBtn[data-skbtn=".com"] {
  max-width: 82px;
}

.hg-theme-default .hg-button.hg-standardBtn[data-skbtn="@"] {
  max-width: 60px;
}

.hg-candidate-box {
  -webkit-user-select: none;
  user-select: none;
  background: #ececec;
  border-bottom: 2px solid #b5b5b5;
  border-radius: 5px;
  max-width: 272px;
  margin-top: -10px;
  display: inline-flex;
  position: absolute;
  transform: translateY(-100%);
}

ul.hg-candidate-box-list {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

li.hg-candidate-box-list-item {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
}

li.hg-candidate-box-list-item:hover {
  cursor: pointer;
  background: #00000008;
}

li.hg-candidate-box-list-item:active {
  background: #0000001a;
}

.hg-candidate-box-prev:before {
  content: "◄";
}

.hg-candidate-box-next:before {
  content: "►";
}

.hg-candidate-box-next, .hg-candidate-box-prev {
  color: #969696;
  cursor: pointer;
  align-items: center;
  padding: 0 10px;
  display: flex;
}

.hg-candidate-box-next {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hg-candidate-box-prev {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hg-candidate-box-btn-active {
  color: #444;
}

/*# sourceMappingURL=index.c92073ef.css.map */
